// background-color

$background-secondary: #ffffff;
$background-primary: #F5F9FA;

// Primary and secondary colors
$primary-color: #0C625E;
$secondary-color: #CE4A1D;

// Text colors
$text-primary: #858789;
$text-secondary: #474B4F;
$text-tertiary: #B9BBBF;
